<h1>投稿一覧</h1>

<% @lists.each do |list| %>

  <p>タイトル</p>

  <!--link_toメソッド：リンクを設定する-->
  <!--構文：link_to 表示させるテキスト,リンク先URL[,オプション]-->
  <span>
    <%= link_to list.title, list_path(list.id) %>
  </span>

<% end %>